@media only screen and (max-width: 500px) 
{

    body {
        font-size: xx-small;
        font-size: 0.9rem;
        header {
            background-color: black;
            flex-direction: column;
            border-bottom: none;
            .div-nab-var-media {
                padding: 0 0rem;
                font-size:0.8rem;
                ul{
                    li{
                        border-left: none;
                        border-top: 0;
                        list-style-type: none;
                    }
                }
            }
            .titulo-header {
                color: black;
            }
        }
        main{
            .container-main {
                display: flex;
                flex-direction: column;
                align-items:center;
                .texto-index {
                    width: auto;
                }
                .img-main {
                    width: 98%;
                }
            }
        }
        
    }
    .main-personajes{
        
        .container-personajes{
            .div-personajes {
                .img-personaje {
                    height: 18rem;
                    width: 18rem;
                    margin-right: 1rem;
                    margin-left: 1rem;
                    margin-bottom: 1rem;
                }
                
                flex-direction: column;
                align-items: center;
                margin-bottom: 0;
                .img-portada {
                    height: 23rem;
                    width: 95%;
                }
                .texto-personajes {
                    width: 90%;
                    margin-bottom: 0.5rem;
                    .p-personajes {
                        margin-top: 0;
                    }
                }
            }
            
        }
    }
    .main-mercha{
        .grid-container {
            display: flex;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr;
            border-bottom: 1px solid $Blanco;
        }
         
    }
    
    .main-mercha{
        .grid-container{
            .grid-item{
                margin: 1rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
                .img-merchan{
                    width: 15rem;
                    height: 15rem;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }

    

    footer {
        flex-direction: column;
    }


}

@media only screen and (min-width: 501px) and (max-width: 1024px){

    body {
        font-size: xx-small;
        font-size: 0.9rem;
        header {
            background-color: black;
            flex-direction: column;
            border-bottom: none;
            .div-nab-var-media {
                padding: 0 0rem;
                font-size:0.8rem;
                ul{
                    li{
                        border-left: none;
                        border-top: 0;
                        list-style-type: none;
                    }
                }
            }
            .titulo-header {
                color: black;
            }
        }
        main{
            .container-main {
                display: flex;
                flex-direction: column;
                align-items:center;
                .texto-index {
                    width: auto;
                }
                .img-main {
                    width: 98%;
                }
            }
        }
        
    }
    .main-personajes{
        
        .container-personajes{
            .div-personajes {
                .img-personaje {
                    height: 28rem;
                    width: 80%;
                    margin-right: 1rem;
                    margin-left: 1rem;
                    margin-bottom: 1rem;
                }
                
                flex-direction: column;
                align-items: center;
                margin-bottom: 0;
                .img-portada {
                    height: AUTO;
                    width: 80%;
                }
                .texto-personajes {
                    width: 90%;
                    margin-bottom: 0.5rem;
                    .p-personajes {
                        margin-top: 0;
                    }
                }
            }
            
        }
    }
    .main-mercha{
        .grid-container {
            display: flex;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr;
            border-bottom: 1px solid $Blanco;
            .grid-item{
                margin: 3rem 2rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
                .img-merchan{
                    width: 15rem;
                    height: 15rem;
                    margin: 0;
                    padding: 0;
                }
            }
         
        }
    
    }

    

    footer {
        flex-direction: column;
    }



}